<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--//-->
<!--// const MovieDetails: FC<IProps> = ({Movie}) => {-->
<!--    //     const {id, imdb_id, title, genres, tagline, budget, production_countries, runtime, release_date, original_language, vote_average, overview} = movieDetails;-->
<!--    //     return (-->
<!--    //         <div>-->
<!--        //             <div>id: {id}</div>-->
<!--        //             <div>imdb id: {imdb_id}</div>-->
<!--        //             <div>title: {title}</div>-->
<!--        //             <div>genres: {genres}</div>-->
<!--        //             <div>tagline: {tagline}</div>-->
<!--        //             <div>budget: {budget}</div>-->
<!--        //             <div>production countries: {production_countries}</div>-->
<!--        //             <div>release date: {release_date}</div>-->
<!--        //             <div>runtime: {runtime}</div>-->
<!--        //             <div>original language: {original_language}</div>-->
<!--        //             <div>vote: {vote_average}</div>-->
<!--        //             <div>overview: {overview}</div>-->
<!--        //         </div>-->
<!--    //     );-->
<!--    // };-->
<!--    //-->
<!--    // export {MovieDetails};-->
</body>
</html>